body, html{
    background-color:#f2f2f2;
    margin: 0;
    margin-top: 0px;
    height: 100%;
    overflow: hidden;
}

.upload{
    height: 50px;
    border-bottom: 1px solid darkgray;
}

.sideBar {
height: 100vh;
width: 200px;
background-color: gray;
padding: 3px;
margin-right: 0px;
float: left;
margin: 0px;
font-family: cursive;
font-size: small;
}

input{
    float: right;
    display: block;
    width: 100%;
}

label{
text-align: left;
    clear: both;
    float:left;
}

button{
    display: block;
    float: left;
}

table{
width: 100%;
padding: 3px;
margin-right: 0px;
float: right;
text-align: center;
margin: 0px;
border-collapse: collapse;
transition: 0.7s;
}

th{
position: sticky;
top: 61px;
background-color: #f2f2f2;
z-index: 10;
padding-left: 30px;
font-size: 20px;
font-family: fantasy;
font-weight: normal;
}

tr{
    border-bottom: 1px solid lightgrey;
    transition: 0.5s;
    page-break-after: 1000px;
}


tr:hover td{
    font-weight: bolder;
    transform: scale(1.2);
}

.container{
    height:100vh;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    border: 3px;
    box-sizing: border-box;
    border-collapse: collapse;
}

#mainTable button{
    float: right;
    height: 15px;
    font-size: 10px;
}

.arrow-wrapper{
    display: flex;
    justify-content: center;
}