.modalBackdrop {
    z-index: 15;
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: #cececed1;
}

.modalCard {
    width: 80%;
    height: 70%;
    background: white;
    border-radius: 20px;
    border: 2px gray;
    box-shadow: -10px 15px 21px grey;
    z-index: 20;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #f2f2f2;;
}

.modalHeader {
    height: 50px;
    width: 100%;
    position: sticky;
    top: 0px;
    text-align: center;
    background-color: #f2f2f2;;
    font-family: fantasy;
    font-size: xx-large;
    z-index: 20;
    cursor: default;
}

.modalHeader span{
    top:5px;
    right: 10px;
    transition: 0.2s;
    position: absolute;
    font-family: sans-serif;
    font-size: large;
    cursor: pointer;
}

.modalHeader span:hover{
    color:red;
}

#modal button{
    float: right;
    height: 15px;
    font-size: 10px;
}

#modalTable th{
    position: sticky;
    top: 51px;
    background-color: #f2f2f2;
    z-index: 10;
    padding-left: 40px;
    font-size: larger;
    font-family: fantasy;
    font-weight: normal;
}

#modal-hr{
    position: sticky;
    top:50px;
    background-color: darkgray;
}

#modal-filters-button{
    width: 30px;
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: 0.7s;
}

.button-container{
    position: absolute;
    top: 6px;
    left: 8px;
    width: 50px;
    height: 50px;
}

#modal-filters-button:hover{
    background-color: gainsboro;
}

.button-container:hover #copy-main-table-filters-button{
    height: 50px;
    width: 50px;
    opacity: 1;
}

.button-container:hover #modal-add-filters{
    height: 50px;
    width: 50px;
    opacity: 1; 
}
.button-container:hover #modal-delete-filters{
    height: 50px;
    width: 50px;
    opacity: 1; 
}

#copy-main-table-filters-button{
    transition: 0.7s ease-in-out;
    height: 0px;
    opacity: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    backface-visibility: hidden;
}


#modal-add-filters{
    transition: 0.7s ease-in-out;
    height: 0px;
    opacity: 0;
    backface-visibility: hidden;
    margin-bottom: 5px;
    margin-top: 5px;
}

#modal-add-filters:hover{
    transform: scale(1.2);
    transition: 0.3s;
}

#copy-main-table-filters-button:hover{
    transform: scale(1.2);
    transition: 0.3s;
}

#modal-delete-filters{
    transition: 0.7s ease-in-out;
    height: 0px;
    opacity: 0;
    backface-visibility: hidden;
}

#modal-delete-filters:hover{
    transform: scale(1.2);
    transition: 0.3s;
}
