.modalBackdrop {
    z-index: 15;
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: #cececed1;
}

.modalCard {
    width: 80%;
    height: 70%;
    background: white;
    border-radius: 20px;
    border: 2px gray;
    box-shadow: -10px 15px 21px grey;
    z-index: 20;
    overflow: y;
}

.modalHeader {
    height: 50px;
    width: 100%;
    position: sticky;
    top: 0px;
    text-align: center;
}

.modalHeader span{
    top:5px;
    right: 10px;
    transition: 0.2s;
}

.modalHeader span:hover{
    color:red;
    
}

#modal button{
    float: right;
    height: 15px;
    font-size: 10px;
}