.welcome-header-background{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: hsla(201, 100%, 0%,0.6);
    z-index: 100;
    align-items: center;
    justify-content: center;
    display: flex;

}

.welcome-main{
    background-color: hsla(201, 100%, 10%,0.7);
    width: 50%;
    min-width: 400px;
    max-width: 600px;
    min-height: 300px;
    max-height: 400px;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    flex-direction: column;
    align-items: center;
}

#uploadCryptoData{
    display: none;
}

.upload{
    border: none;
    position: relative;
}

.upload label{
    padding: 10px 30px;
    border-radius: 5px;
    background: hsla(201, 100%, 50%,0.1);
    border: 1px solid gray;
    color: white;
    outline: none;
    font-size: large;
    cursor: pointer;
    transition: 0.5s;
    font-family: sans-serif;
}

.upload label:hover{
    background-color: hsla(201, 100%, 10%,0.6);
    border-color: hsla(201, 100%, 50%);
}

.upload input[type="text"]{
    width: 0px;
    pointer-events: none;
    position: absolute;
    left: 5px;
    bottom: -17px;
    opacity: 0;
    transition: 0.5s;
}
.upload:hover input[type="text"]{
width: 278px;
    opacity: 1;
}

.loader-animation-background {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    border-radius: 5px;
    display: none; 
    align-items: center;
    justify-content: center;
    background-color: hsla(201, 100%, 10%,0.8);
    z-index: 1;
}

.loader-animation-container{
    box-sizing: border-box;
    height: 180px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.loader-text{
    color: white;
    font-size: larger;
}


.loader-sector{
    border: 10px solid transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.loader-sector-red{
    box-shadow: 3px 3px 5px 3px lightcoral;
    animation: loader-animation 1.4s ease infinite;
}

.loader-sector-blue{
    box-shadow: 3px 3px 5px 3px lightblue;
    animation: loader-animation 1.7s ease-out infinite;
}

.loader-sector-green{
    box-shadow: 3px 3px 5px 3px lightgreen;
    animation: loader-animation 2.3s ease-in-out infinite;
}

@keyframes loader-animation{
    from{transform: rotate(0);}
    to{transform: rotate(360deg);}
}

.download-button-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

#download-sample-button{
    padding: 10px 30px;
    border-radius: 5px;
    background: hsla(201, 100%, 50%,0.1);
    border: 1px solid gray;
    color: white;
    outline: none;
    font-size: large;
    cursor: pointer;
    transition: 0.5s;
    font-family: sans-serif;
    width: 100%
}

#download-sample-button:hover{
    background-color: hsla(201, 100%, 10%,0.6);
    border-color: hsla(201, 100%, 50%);
}

.download-sample-button-wrapper{
    position: relative;
    width: 45%;
}

.download-sample-button-wrapper input[type="text"]{
    width: 0px;
    pointer-events: none;
    position: absolute;
    left: 0px;
    bottom: -23px;
    opacity: 0;
    transition: 0.5s;
}

.download-sample-button-wrapper:hover input[type="text"]{
    width: 219px;
    opacity: 1;
}

.download-full-data-button-wrapper{
    position: relative;
    width: 45%;
}

#download-full-data-button{
    padding: 10px 30px;
    border-radius: 5px;
    background: hsla(201, 100%, 50%,0.1);
    border: 1px solid gray;
    color: white;
    outline: none;
    font-size: large;
    cursor: pointer;
    transition: 0.5s;
    font-family: sans-serif;
    width: 100%;
}

.download-full-data-button-wrapper input[type="text"]{
    width: 0px;
    pointer-events: none;
    position: absolute;
    left: 0px;
    bottom: -23px;
    opacity: 0;
    transition: 0.5s;
}

#download-full-data-button:hover{
    background-color: hsla(201, 100%, 10%,0.6);
    border-color: hsla(201, 100%, 50%);
}

.download-full-data-button-wrapper:hover input[type="text"]{
    width: 241px;
    opacity: 1;
}